<style>
    .container{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .form{
        display: flex;
        flex-direction: column;
    }
</style>
<div class="container">

<form class="form w-75">
    <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input type="text" class="form-control" id="firstName" aria-describedby="first_name">
        <div id="first_name" class="form-text">We'll never share your name with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input type="text" class="form-control" id="lastName" aria-describedby="last_name">
        <div id="last_name" class="form-text">We'll never share your name with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-success">Sign Up</button>
</form>
</div>